.review-items{
    border: 1px solid gray;
    border-radius: 8px;
    padding: 8px;
    margin-top: 21px;
    width: 571px;
    display: flex;
}

.review-items img{
    width: 91px;
}

.review-details p{
    margin: 0;
}

.item-details-container{
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.delete-container{
display: flex;
align-items: center;
}

.review-items .delete-button{
    background: rgb(236, 177, 177);
    border: 0;
    height: 55px;
    width: 55px;
    border-radius: 50%;
}

.delete-icon{
    color: rgb(236, 78, 78);
    font-size: 30px;
}