.review-items{
    border: 1px solid gray;
    border-radius: 8px;
    padding: 8px;
    margin-top: 21px;
    width: 571px;
    display: flex;
}

.review-items img{
    width: 91px;
}

.review-details p{
    margin: 0;
}

.item-details-container{
    width: 100%;
    display: flex;
    justify-content: space-between;

}